@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

body
{
  font-family: 'Poller One', cursive;
  background-image: url('images/sky.jpg');
  background-attachment: fixed;
  color: whitesmoke;
}

header, footer
{
  background-color: rgba(60, 69, 67, 0.6);
}

section.left img
{
  z-index: -1;
}

img
{
  box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}

.right img
{
  box-shadow: none;
  /*width: 160px;*/
  /*height: 150px;*/
}


p{
  text-align: justify;
}

